- topic.bookmarks.each do |bookmark|
  .col-md-3.bookmark-loop
    .bookmark-box
      = bookmark.url
      - if policy(bookmark).edit?
        .small
          = link_to "Edit Bookmark", edit_topic_bookmark_path(bookmark.topic, bookmark)
      - if policy(bookmark).destroy?
        .small
          = link_to "Delete Bookmark", [bookmark.topic, bookmark], method: :delete
