%div
  - if like = current_user.liked(bookmark)
    = link_to [bookmark.topic, bookmark, like], class: 'btn btn-primary', method: :delete do
      %i.glyphicon.glyphicon-star-empty
  - else
    = link_to [bookmark.topic, bookmark, Like.new], class: 'btn btn-default', method: :post do
      %i.glyphicon.glyphicon-star
