- record.each do |like|
  .col-md-3.bookmark-loop
    .bookmark-box
      = like.url
      - if policy(like).edit?
        .small
          = link_to "Edit Bookmark", edit_topic_bookmark_path(like.topic, like)
      - if policy(like).destroy?
        .small
          = link_to "Delete Bookmark", [like.topic, like], method: :delete
      - if policy(Like.new).create?
        = render partial: 'likes/like', locals: { bookmark: like }
