%h1 #{@user.name || @user.email}'s Profile
%a= link_to "Profile Settings", edit_user_registration_path

.col-md-12
  %h2 Bookmarks
  .media-body
    = render partial: 'topics/bookmarks', locals: { record: @user }
.col-md-12
  %h2 Favorites
  .media-body
    = render partial: 'likes/liked_bookmarks', locals: { record: @liked_bookmarks }
